body {
  background: #dddddd;
}

#page {
  background: white;
  padding: 0 32px;
  margin: 0 auto;
  width: max-content;

  display: grid;
  grid-template-areas: "body nav" "footer footer";
  grid-auto-columns: minmax(320px, 720px) 230px;
  grid-row-gap: 0;
}

main {
  grid-area: body;
}

footer {
  grid-area: footer;
}

nav {
  display: flex;
  flex-direction: column;
  grid-area: nav;
}

p {
  text-align: justify;
}

.nav-link {
  padding: 8px;
}
